# core requirements
six>=1.5
numpy>=1.14
scipy>=0.16
astropy>=1.2.1
matplotlib>=1.4.1
obspy>=1.0.0
gwpy>=0.11.0
lxml>=4.0.0
pandas>=0.20.3
mkl>=2018.0.0
lalsuite
geopy>=1.14.0
psycopg2
simplejson
six>=1.5
sqlalchemy
GPy>=1.10.0
